
<div class="container">
 <div class="row">
<%= render 'layouts/sidebar' %>

	<div class="col-xs-9">
		<h2>Books</h2>
		<!--books一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @books.each do |book| %>
					<!-- 非同期通信追加-->					
					<tr class="favorites_buttons_<%= book.id %>">
						<%= render partial: 'favorites/favorite', locals: { book: book} %>
					</tr>
                   <!--非同期通信追加-->				
				<% end %>
			</tbody>
		</table>
	</div>
  </div>
</div>
